@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: 1px solid #fff;
  transition: 0.2s;
}

body {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#header #mobile {
  display: none;
}
#header #navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header #navbar #closed {
  display: none;
}
#header #navbar li {
  width: 100px;
  padding: 40px 20px;
  position: relative;
}
#header #navbar li::before {
  transform: scaleY(0);
  transform-origin: bottom right;
}
#header #navbar li:hover::before {
  transform: scaleY(1);
  transform-origin: bottom left;
}
#header #navbar li:hover a {
  color: #fff;
}
#header #navbar li.active a {
  color: #fff;
}
#header #navbar li.active::before {
  transform: scaleY(1);
}
#header #navbar li::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200deg, 100%, 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}
#header #navbar li {
  position: relative;
}
#header #navbar li a {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
footer .col .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .col .follow i:hover {
  color: #088178;
}
footer .col p a:hover {
  color: #088178;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  color: #222;
  margin: 0 0 8px 0;
}
footer .insall .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .insall img {
  margin: 10px 0 15px 0;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

#hero {
  margin-top: 80px;
  background-image: url("../img/hero4.png");
  height: 90vh;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-image: url("../img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .section-p1 {
  padding: 40px 80px;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.1);
}
#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 20px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  font-weight: 600;
  color: #088178;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 40vh;
  background-image: url("../img/banner/b2.jpg");
  background-position: center;
  background-size: cover;
}
#banner h4 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 20px 0;
}
#banner h2 span {
  color: #ef3636;
}
#banner button:hover {
  background: #088178;
  color: #fff;
}

#sm-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  background-image: url("../img/banner/b17.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-width: 660px;
  height: 50vh;
  padding: 20px;
  margin-bottom: 20px;
}
#sm-banner .banner-box h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
#sm-banner .banner-box h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
#sm-banner .banner-box p {
  color: #fff;
  font-size: 14px;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background-color: #088178;
}
#sm-banner .banner-box2 {
  background-image: url("../img/banner/b10.jpg");
  background-position: center;
  background-size: cover;
}

#banner3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-width: 30%;
  height: 50vh;
  background-image: url("../img/banner/b7.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box h2 {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}
#banner3 .banner-box h3 {
  color: #ec544e;
  font-weight: 600;
  font-size: 15px;
}
#banner3 .banner-box2 {
  background-image: url("../img/banner/b4.jpg");
  background-position: center;
  background-size: cover;
}
#banner3 .banner-box3 {
  background-image: url("../img/banner/b18.jpg");
  background-position: center;
  background-size: cover;
}

#newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter .newstext h4 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}
#newsletter .newstext p {
  font-size: 14px;
  color: #818ea0;
  font-weight: 600;
}
#newsletter .newstext p span {
  color: #ffbd27;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter .form input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter .form button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#page-header {
  margin-top: 100px;
  background-image: url("../img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}
#pagination a {
  background-color: #088178;
  padding: 15px 20px;
  background-color: #088178;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
}
#pagination a i {
  font-size: 16px;
}

#pro-details {
  margin-top: 150px;
  display: flex;
}
#pro-details .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
#pro-details .small-img-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#pro-details .small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#pro-details .single-pro-details {
  width: 50%;
  margin-top: 50px;
}
#pro-details .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#pro-details .single-pro-details h2 {
  font-size: 26px;
}
#pro-details .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#pro-details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}
#pro-details .single-pro-details input:focus {
  outline: none;
}
#pro-details .single-pro-details button {
  background-color: #088178;
  color: #fff;
}
#pro-details .single-pro-details p {
  line-height: 25px;
}

#pro-details {
  margin-top: 150px;
  display: flex;
}
#pro-details .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
#pro-details .small-img-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#pro-details .small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#pro-details .single-pro-details {
  width: 50%;
  margin-top: 50px;
}
#pro-details .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#pro-details .single-pro-details h2 {
  font-size: 26px;
}
#pro-details .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#pro-details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}
#pro-details .single-pro-details input:focus {
  outline: none;
}
#pro-details .single-pro-details button {
  background-color: #088178;
  color: #fff;
}
#pro-details .single-pro-details p {
  line-height: 25px;
}

#page-header.about-header {
  background-image: url("../img/about/banner.png");
}

#about-header {
  display: flex;
  align-items: center;
}
#about-header figure {
  width: 50%;
}
#about-header figure figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#about-header figure figcaption .white {
  color: #333;
}
#about-header .desc-about {
  width: 40%;
  margin-left: 20px;
}

#about-app {
  text-align: center;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#page-header.blog-header {
  background-image: url("../img/banner/b19.jpg");
}

#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}
#blog .blog-box .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog .blog-box .blog-img img {
  width: 100%;
}
#blog .blog-box .blog-details {
  width: 100%;
}
#blog .blog-box .blog-details a {
  position: relative;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
#blog .blog-box .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 11px;
  right: -60px;
}
#blog .blog-box .blog-details a:hover, #blog .blog-box .blog-details a:hover::after {
  color: #088178;
}
#blog .blog-box h1 {
  position: absolute;
  top: -45px;
  left: 0;
  font-size: 70px;
  font-weight: 600;
  color: #c9cbce;
  z-index: -10;
}

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 50%;
}
#contact-details .details span {
  font-size: 12px;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details ul li {
  display: flex;
  align-items: center;
  padding: 10px;
}
#contact-details .details ul li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details ul li p {
  margin: 0;
  font-size: 15px;
}
#contact-details .map {
  width: 100%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
}

.form-details {
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
.form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
.form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
.form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.form-details form {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-details form input,
.form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
.form-details form .white {
  background-color: #088178;
}

h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead th {
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
  font-size: 13px;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 50px;
  padding: 10px;
}

#cart-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#cart-add #coupon {
  width: 50%;
  margin-bottom: 30px;
}
#cart-add #coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#cart-add #coupon button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}
#cart-add #subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#cart-add #subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#cart-add #subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
#cart-add #subtotal .normal {
  background-color: #088178;
  color: #fff;
}
#cart-add #subtotal h3,
#cart-add #coupon h3 {
  padding-bottom: 15px;
}

@media screen and (max-width: 1199.98px) {
  #header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1199.98px) {
  #feature.section-p1 {
    padding: 40px 10px;
  }
}
@media screen and (max-width: 1199.98px) {
  #sm-banner .banner-box {
    min-width: 500px;
  }
}
@media screen and (max-width: 1199.98px) {
  #cart table tbody tr td {
    padding-top: 14px;
  }
}
@media screen and (max-width: 991.98px) {
  #sm-banner .banner-box {
    min-width: 400px;
  }
}
@media screen and (max-width: 991.98px) {
  #product1 .pro {
    min-width: 200px;
  }
}
@media screen and (max-width: 767.98px) {
  #header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  #header #mobile {
    display: block;
  }
  #header #mobile i {
    font-size: 24px;
    color: #1a1a1a;
    padding-left: 40px;
  }
  #header #navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -600px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 0px;
    transition: all 1s;
  }
  #header #navbar li {
    width: 100%;
  }
  #header #navbar #closed {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
  }
  #header #navbar #cart {
    display: none;
  }
  #header #navbar.active {
    right: 0;
  }
}
@media screen and (max-width: 767.98px) {
  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
  }
}
@media screen and (max-width: 767.98px) {
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #feature.section-p1 {
    padding: 40px;
  }
}
@media screen and (max-width: 767.98px) {
  #product1 .pro {
    min-width: 295px;
    padding: 10px;
  }
  #product1 .pro .cart {
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  #banner {
    height: 20vh;
  }
  #banner h4 {
    font-size: 16px;
  }
  #sm-banner {
    justify-content: center;
  }
  #sm-banner.section-p1 {
    padding: 55px;
  }
  #banner3 {
    display: block;
    padding: 0 80px;
  }
}
@media screen and (max-width: 767.98px) {
  #newsletter .form {
    width: 70%;
  }
}
@media screen and (max-width: 767.98px) {
  #blog {
    padding: 120px 50px 0 50px;
  }
  #blog .blog-box .blog-img {
    width: 60%;
  }
  #blog .blog-box h1 {
    top: -60px;
  }
}
@media screen and (max-width: 767.98px) {
  #about-header {
    flex-direction: column;
  }
  #about-header.section-p1 {
    padding: 20px 40px;
  }
  #about-header figure,
  #about-header .desc-about {
    width: 100%;
  }
  #about-header .desc-about {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 15px;
  }
  .form-details {
    margin: 0px;
    padding: 25px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  #cart {
    overflow-x: auto;
  }
  #cart table {
    table-layout: auto;
  }
  #cart-add #coupon {
    width: 45%;
    margin-left: 10px;
  }
  #cart-add #subtotal {
    margin-right: 10px;
  }
}
@media screen and (max-width: 575.98px) {
  #product1 .pro-container {
    justify-content: center;
  }
}
@media screen and (max-width: 400.98px) {
  #header {
    padding: 20px;
    width: 100%;
  }
  #header #mobile i {
    font-size: 20px;
  }
}
@media screen and (max-width: 400.98px) {
  #hero {
    background-position: 75%;
    padding: 0 20px;
  }
  #hero h2 {
    font-size: 32px;
    color: #088178;
  }
  #hero h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 400.98px) {
  #product1.section-p1 {
    padding: 35px 50px;
  }
}
@media screen and (max-width: 400.98px) {
  #banner {
    height: 30vh;
  }
  #banner h2 {
    padding: 10px;
    font-size: 25px;
    line-height: 30px;
  }
  #sm-banner.section-p1 {
    padding: 17px;
  }
  #sm-banner .banner-box {
    height: 35vh;
    min-width: 340px;
  }
  #sm-banner .banner-box h4 {
    font-size: 13px;
  }
  #sm-banner .banner-box h2 {
    font-size: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
}
@media screen and (max-width: 400.98px) {
  .section-m1 {
    padding: 25px 0;
  }
  .section-p1 {
    padding: 40px 10px;
  }
  #newsletter .form {
    width: 100%;
  }
}
@media screen and (max-width: 400.98px) {
  #feature {
    justify-content: space-between;
  }
  #feature.section-p1 {
    padding: 10px;
  }
  #feature .fe-box {
    margin: 10px 0 10px 0;
  }
}
@media screen and (max-width: 400.98px) {
  footer p,
  footer a {
    font-size: 15px;
  }
  footer .copyright {
    text-align: start;
  }
}
@media screen and (max-width: 400.98px) {
  #pro-details {
    margin-top: 100px;
    flex-direction: column;
  }
  #pro-details .single-pro-image,
  #pro-details .single-pro-details {
    width: 100%;
  }
  #pro-details .single-pro-details {
    margin-left: 8px;
  }
  #pro-details .single-pro-details h6 {
    font-size: 15px;
  }
  #pro-details .single-pro-details h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 400.98px) {
  #blog {
    padding: 100px 30px 0px 30px;
  }
  #blog .blog-box {
    display: block;
  }
  #blog .blog-box .blog-img {
    width: 100%;
  }
  #blog .blog-box h1 {
    top: -50px;
  }
  #blog .blog-box .blog-details {
    margin-top: 10px;
  }
}
@media screen and (max-width: 400.98px) {
  #about-header .desc-about {
    margin-left: 0px;
  }
  #about-header figure h4 {
    font-size: 15px;
  }
  #about-header figure h2 {
    font-size: 24px;
  }
  h2 {
    font-size: 30px;
  }
  h1 {
    font-size: 35px;
  }
  #feature.section-p1 {
    padding: 5px;
  }
}
@media screen and (max-width: 400.98px) {
  .form-details {
    margin: 0px;
    padding: 10px;
    margin-top: 50px;
    display: block;
  }
  .form-details form {
    width: 100%;
  }
  .form-details .people {
    margin-top: 50px;
    width: 100%;
  }
  .form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E3E6F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}/*# sourceMappingURL=main.css.map */