@media screen and (max-width: 400.98px) {
    .section-m1 {
        padding: 25px 0;
    }

    .section-p1 {
        padding: 40px 10px;
    }

    #newsletter {
        .form {
            width: 100%;
        }
    }
}