@media screen and (max-width: 400.98px) {
    #hero {
        background-position: 75%;
        padding: 0 $pd-20;

        h2 {
            font-size: 32px;
            color: $cl-088178;
        }

        h1 {
            font-size: 40px;
        }
    }
}