@media screen and (max-width: 767.98px) {
    #cart {
        table {
            table-layout: auto;
        }

        overflow-x: auto;
    }

    // .section-p1 {
    //     padding: 20px 0px;
    // }

    #cart-add {
        #coupon {
            width: 45%;
            margin-left: 10px;
        }

        #subtotal {
            margin-right: 10px;
        }
    }
}