#cart {
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;

        thead {
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;

            th {
                text-transform: uppercase;
                font-size: 13px;
                padding: 18px 0;
            }
        }

        tbody {
            tr {
                td {
                    padding-top: 15px;
                    font-size: 13px;
                }
            }
        }

        img {
            width: 70px;
        }



        td:nth-child(1) {
            width: 100px;
            text-align: center;
        }

        td:nth-child(2) {
            width: 150px;
            text-align: center;
        }

        td:nth-child(3) {
            width: 250px;
            text-align: center;
        }

        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6) {
            width: 150px;
            text-align: center;
        }

        td:nth-child(5) input {
            width: 50px;
            padding: 10px;

        }
    }
}

#cart-add {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    #coupon {
        width: 50%;
        margin-bottom: 30px;

        // h3 {}

        input {
            padding: 10px 20px;
            outline: none;
            width: 60%;
            margin-right: 10px;
            border: 1px solid #e2e9e1;
        }

        button {
            background-color: $cl-088178;
            color: $cl-fff ;
            padding: $pd-15 - 3 $pd-20;
        }
    }

    #subtotal {
        width: 50%;
        margin-bottom: 30px;
        border: 1px solid #e2e9e1;
        padding: 30px;

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;

            td {
                width: 50%;
                border: 1px solid #e2e9e1;
                padding: 10px;
                font-size: 13px;
            }
        }

        .normal {
            background-color: $cl-088178;
            color: $cl-fff;
        }
    }

    #subtotal,
    #coupon {
        h3 {
            padding-bottom: 15px;
        }
    }
}