footer {
    @include align-position-by-flex(flex-start, space-between);
    flex-wrap: wrap;

    .col {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20px;

        .follow {
            i {

                color: #465b52;
                padding-right: 4px;
                cursor: pointer;

                &:hover {
                    color: #088178;
                }
            }
        }

        p a:hover {
            color: #088178;

        }
    }

    .logo {
        margin-bottom: 30px;
    }

    h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }

    p {
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    a {
        font-size: 13px;
        color: #222;
        margin: 0 0 8px 0;
    }

    .insall {
        .row {
            img {
                border: 1px solid #088178;
                border-radius: 6px;
            }
        }

        img {
            margin: 10px 0 15px 0;
        }
    }

    .copyright {
        width: 100%;
        text-align: center;
    }
}