#pagination {
    text-align: center;

    a {
        background-color: $cl-088178;
        padding: $pd-15 $pd-20;
        background-color: $cl-088178;
        border-radius: 4px;
        font-weight: $bold;
        color: $cl-fff;

        i {
            font-size: $fz-16;

        }
    }
}