@media screen and (max-width: 767.98px) {
    #feature {
        // code
        justify-content: center;

        .fe-box {
            margin: 15px 15px;
        }

        &.section-p1 {
            padding: 40px;
        }
    }
}