// COLOR
$cl-e3e6f3: #E3E6F3;
$cl-1a1a1a: #1a1a1a;
$cl-088178: #088178;
$cl-fff: #fff;
$cl-ef3636: #ef3636;
$cl-fddde4: #fddde4;
$cl-cdebbc: #cdebbc;
$cl-d1e8f2: #d1e8f2;
$cl-cdd4f8: #cdd4f8;
$cl-f6dbf6: #f6dbf6;
$-fff2e5: #fff2e5;
$-e1e1e1: #e1e1e1;

// BOX-SHADOW
$bxs-515-05: 0 5px 15px rgba(0, 0, 0, .06);
$bxs-101054: 10px 10px 54px rgba(70, 62, 211, .1);
$bxs-202034: 20px 20px 34px rgba(0, 0, 0, .03);
$bxs-04060: 0 40px 60px rgba(0, 0, 0, 0.1);
// FONTS-SIZE
$fz-10: 10px;
$fz-16: 16px;
$fz-22: 22px;
$fz-15: 15px;
$fz-20: 20px;
$fz-24: 24px;
$fz-30: 30px;


// PADDING
$pd-15: 15px;
$pd-20: 20px;
$pd-30: 30px;
$pd-40: 40px;

// LINE HEIGHT

$normal: normal;
$bold: 600;
$thin: 300;